.login-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1.1em;

  width: 250px;

  margin: auto;
  span {
    padding: 10px 0;
  }

  input {
    height: 30px;
    font-size: 1em;
    padding: 0 5px;
  }

  input[type=submit] {
    width: 50%;
    margin: 10px auto;
    height: 30px;
  }

  &__error {
    text-align: center;
    color: darkred;
  }
}